<!doctype html>
<html ng-app="quotes">
    <head>
        <title>_shoulders of giants</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/position.css">
        <link rel="stylesheet" type="text/css" href="css/media_queries.css">
    </head>
    <body>
        <div id="main-container" ng-controller="MainController">
            <div id="quotes-container" ng-controller="QuotesController">
                <div ng-repeat="q in quotes track by $index" class="cards transition espaco-bottom">
                    <p class="quote"><span class="quotation-mark">"</span>{{q.quote}}<span class="quotation-mark">"</span></p>
                    <span class="author transition right">{{q.author}}</span>
                </div>

            </div>
        </div>

        <!-- frameworks -->
        <script type="text/javascript" src="js/frameworks/angular.min.js"></script>

        <!-- lib -->
        <script type="text/javascript" src="js/app/services/lib.js"></script>

        <!-- application -->
        <script type="text/javascript" src="js/application/app.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="js/application/controllers/mainController.js"></script>
        <script type="text/javascript" src="js/application/controllers/quotesController.js"></script>

        <!-- directives -->
    </body>
</html>