<!doctype html>
<html ng-app="quotes">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>shoulders of giants</title>
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/frameworks_overrides.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/position.css">
        <link rel="stylesheet" type="text/css" href="css/media_queries.css">
        <link rel="stylesheet" type="text/css" href="css/events.css">
        <link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
    </head>
    <body ng-controller="QuotesController">

        <header class="container">
            <div class="col-md-4">
                <div id="logo-container" class="transition">
                    <div ng-class="{'center': singleView}">
                        <img src="img/quotes.svg" id="logo" title="shoulders of giants"/>
                    </div>
                </div>
            </div>

            <div class="filter-container invisible-mobile col-md-5 pull-right no-padding" ng-hide="singleView">

                <div class="input-group">
                    <input type="text"
                           ng-model="search.quote"
                           class="form-control filter"
                           placeholder="I wanna read about.."
                           maxlength="22"
                           autofocus/>

                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>

                </div>
            </div>
        </header>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{modalOptions.titulo}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="btn-group btn-group-grande" role="group" aria-label="...">
                            <button ng-repeat="modal in modalOptions.conteudo"
                                    type="button"
                                    class="btn btn-default"
                                    activable
                                    deactive=".modal-body .btn"
                                    ng-click="modal.onClick()">{{modal.nome}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <emd-options-navigation></emd-options-navigation>

        <div class="container">
            <div class="transition">
                <div ng-if="!quotes.length" class="cards transition espaco-bottom">
                    <p class="quote">Loading... =]</p>
                </div>

                <div id="randomize-container" ng-show="singleView">
                    <div class="text-centered">
                        <h1 id="randomize" ng-click="randomize()" class="transition not-selectable fa fa-random"></h1>
                    </div>
                </div>

                <div ng-repeat="q in quotes | orderBy: getOrder | filter: search track by $index" class="cards transition espaco-bottom">
                    <like liked="favQuote(q._id)" numberlikes="{{q.likes}}"></like>
                    <p class="quote">{{q.quote}}</p>
                    <span class="author transition">{{q.author}}</span>
                </div>
            </div>
        </div>

        <to-the-top></to-the-top>

        <!-- frameworks -->
        <script type="text/javascript" src="js/frameworks/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/frameworks/angular.min.js"></script>
        <script type="text/javascript" src="js/frameworks/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/frameworks/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/frameworks/socket.io.js"></script>

        <!-- modules -->
        <script type="text/javascript" src="js/modules/client-storage-module.js"></script>
        <script type="text/javascript" src="js/modules/client-socket-module.js"></script>

        <!-- lib -->
        <script type="text/javascript" src="js/application/lib/lib.js"></script>

        <!-- application -->
        <script type="text/javascript" src="js/application/app.js"></script>

        <!-- constants -->
        <script type="text/javascript" src="js/application/constants/author.js"></script>

        <!-- resources -->
        <script type="text/javascript" src="js/application/resources/QuotesResource.js"></script>

        <!-- services -->
        <script type="text/javascript" src="js/application/services/Randomizer.js"></script>
        <script type="text/javascript" src="js/application/services/QuotesDAO.js"></script>

        <!-- models -->
        <script type="text/javascript" src="js/application/models/QuotesModel.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="js/application/controllers/QuotesController.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="js/application/directives/emd-options-navigation-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/activable-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/to-the-top-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/like-directive.js"></script>
    </body>
</html>