#navigation li:hover, #type-of-visualization li:hover {cursor: pointer;}
#to-the-top:hover, #selected-order:hover {cursor: pointer; opacity: .7;}
#randomize:hover {cursor: pointer;}
#randomize:active {background-color: gold; color: snow;}
#emd-options .btn-options:active {color: gold; outline: none;}
#emd-options .btn-options:focus {outline: none;}
#options:hover {top: 0;}
#options:hover #configuration {opacity: 0;}

.hand:hover {cursor: pointer;}
.cards:hover {border-color: lightgray; background-color: #fafbfc;}
.cards:hover .author {color: #777;}
.cards:hover .like {opacity: 1;}
.cards:hover .number-likes {opacity: 1;}
.like:hover, .title:hover {cursor: pointer;}
.like:active {box-shadow: 1px 1px 33px gold; background-color: lemonchiffon;}
.title:hover {opacity: 1; background-color: rgba(39, 83, 109, 1);}

::selection {background-color: yellow;}