#navigation li:hover, #type-of-visualization li:hover {cursor: pointer;}
#to-the-top:hover, #selected-order:hover {cursor: pointer; opacity: .7;}
#randomize:hover {cursor: pointer;}
#randomize:active {background-color: gold; color: snow;}
#emd-options .btn-options:active {color: gold; outline: none;}
#emd-options .btn-options:focus {outline: none;}
#options:hover {top: 0;}
#options:hover #configuration {opacity: 0;}

.filter:focus {border: 1px solid gold; border-right: none;}
.hand:hover {cursor: pointer;}
.cards:hover {border-color: lightgray; background-color: #fafbfc;}
.cards:hover .author {color: #777;}
.cards:hover .like {opacity: 1;}
.cards:hover .number-likes, .cards:hover .icone-star {opacity: 1;}
.title:hover {opacity: 1; background-color: rgba(39, 83, 109, 1);}

::selection {background-color: yellow;}