@media (min-width: 40em)
{
    .quotes-container {width: 90%;}
    .cards.espaco-bottom {margin-bottom: 1em;}
}

@media (min-width: 60em)
{
    #options {top: 0; position: fixed; margin: 1em 0 0 1em; width: 20%; display: block;}
    #options li {border-radius: 3px; margin: .2em 0; padding: .8em; display: block;}
    #options ul {background-color: transparent; border-bottom: none; padding: 0;}
    #options li:last-child {margin-bottom: 1em;}
    #filter ul {margin: 0;}
    #navigation, #filter, #type-of-visualization {opacity: .5;}
    #to-the-top {left: 1em;}
    #main-header {padding: 0;}
    #main-header, .quotes-container {width: 75%; position: absolute; right: 0; margin: 1em 1em 0 0;}

    .quotes-container {margin: 1em 1em 2em 0; top: 9.5em;}
    .espaco-top {margin-top: 1em;}
    .title {margin: 0;}
    .visible-phone {display: none;}
}