/* IDs */

#navigation {opacity: .8;}
#to-the-top {border-radius: 100%; background-color: black; color: white; opacity: .4;}

/* CLASSES */

.title {font-weight: bold; color: #fff; border-bottom: 3px solid gold; background-color: rgba(39, 83, 109, .7);}
.active {background-color: yellow !important; color: #555; font-weight: bold;}
.quotation-mark {font-size: 2em; color: #ddd;}
.quote {color: #333; font-size: 1.1em;}
.cards {border-bottom: 3px solid #f1f2f3; border-radius: 0; background-color: #f1f2f3;}
.cards .author {color: #ccc;}
.transition
{
    -webkit-transition: all 666ms;
    -moz-transition: all 666ms;
    -ms-transition: all 666ms;
    -o-transition: all 666ms;
    transition: all 666ms;
}

/* ELEMENTS */

body {font-family: Segoe UI, Verdana, Arial; background: url(../img/flora_and_fauna.jpg) fixed;}
h1, h2, h3, h4 {font-weight: normal;}
ul li {list-style: none;}

/* EVENTS */

#navigation:hover {opacity: 1;}
#navigation li:hover {cursor: pointer;}
#to-the-top:hover {opacity: .7; cursor: pointer;}
.cards:hover {border-color: lightgray; border-bottom-color: limegreen;}
.cards:hover .author {color: #777;}
::selection {background-color: yellow;}