@import "variables.less";

@media (min-width: 50em)
{
    .cards.espaco-bottom {margin-bottom: @default-margin-bottom;}
}

@media (min-width: 65em)
{
    #main-header {padding: 0;}
    #main-header {width: 66%; margin: 0 auto 1em auto;}
    #logo {width: 6em;}
    #logo-container {margin: 0; padding: .6em 2em .3em 1.1em; width: 130px;}
    #options {bottom: 1em; right: 1em;}

    .filter-container {margin-top: 60px;}
    .filter {float: right;}
    .espaco-top {margin-top: 1em;}
    .quote {font-size: @font-size-quote-desktop;}

    header.container {margin-top: 1em; margin-bottom: @default-margin-bottom;}
}