@default-border-radius: 4px;
@default-margin-bottom: 1em;
@default-transition: all 666ms;
@card-background: #f1f2f3;
@not-selectable: none;
@body-background-mobile: rgba(89, 153, 61, .7);
@body-background-desktop: url(../img/bg.jpg) fixed;
@call-attention-color: gold;
@dont-call-attention-options: rgba(39, 83, 109, .7);
@call-attention-options: rgba(39, 83, 109, 1);
@font-size-quote-desktop: 22px;
@font-size-quote-mobile: 22px;
@likes-size: 1.5em;
@full-width: 100%;
@likes-not-calling-attention: .5;