<!doctype html>
<html ng-app="quotes">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>shoulders of giants</title>
        <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>

        <!-- build:css css/estilo.min.css?hash=@@hash -->
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/frameworks_overrides.css">
        <link rel="stylesheet" type="text/css" href="css/fonts.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/position.css">
        <link rel="stylesheet" type="text/css" href="css/media_queries.css">
        <link rel="stylesheet" type="text/css" href="css/events.css">
        <!-- endbuild -->
        
    </head>

    <body ng-controller="QuotesController">

        <div ng-include="'partials/includes/create-quote-modal.tpl.html'"></div>
        <div ng-include="'partials/includes/options-views-order-random-modal.tpl.html'"></div>

        <header class="container">
            <div class="col-md-4">
                <div id="logo-container" class="transition">
                    <div ng-class="{'center': singleView}">
                        <img src="img/quotes.svg" id="logo" title="shoulders of giants"/>
                    </div>
                </div>
            </div>

            <div class="filter-container invisible-mobile col-md-5 pull-right no-padding" ng-hide="singleView">

                <div class="input-group">
                    <input type="text"
                           ng-model="search"
                           class="form-control filter"
                           placeholder="I wanna read about.."
                           maxlength="22"
                           autofocus/>

                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>

                </div>
            </div>
        </header>

        <emd-options-navigation></emd-options-navigation>

        <div class="container">

            <show-modal-when-no-quotes></show-modal-when-no-quotes>

            <div class="transition">
                <div id="randomize-container" ng-show="singleView">
                    <div class="text-centered">
                        <h1 id="randomize" ng-click="randomize()" class="transition not-selectable fa fa-random"></h1>
                    </div>
                </div>

                <div ng-repeat="q in filteredQuotes = (quotes | filter: search) | orderBy: getOrder track by $index" class="cards transition espaco-bottom">
                    <like liked="favQuote(q._id)" numberlikes="{{q.likes}}"></like>
                    <p class="quote" ng-bind="q.quote"></p>
                    <span class="author transition" ng-bind="q.author"></span>
                </div>

                <div class="cards transition"
                     ng-hide="filteredQuotes.length">
                    <p class="quote">Looks like there's no quote that contains: "<span ng-bind="search"></span>". Sorry :(</p>
                    <span class="author transition">Eric Mendes Dantas</span>
                </div>
            </div>
        </div>

        <!-- frameworks -->
        <!-- build:js js/frameworks.min.js?hash=@@hash -->
        <script type="text/javascript" src="js/frameworks/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/frameworks/angular.min.js"></script>
        <script type="text/javascript" src="js/frameworks/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/frameworks/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/frameworks/socket.io.js"></script>
        <!-- endbuild -->

        <!-- modules -->
        <!-- build:js js/emd-quotes.min.js?hash=@@hash -->
        <script type="text/javascript" src="js/modules/client-socket-module.js"></script>

        <!-- lib -->

        <script type="text/javascript" src="js/application/lib/lib.js"></script>

        <!-- application -->
        <script type="text/javascript" src="js/application/app.js"></script>

        <!-- constants -->
        <script type="text/javascript" src="js/application/constants/author.js"></script>

        <!-- resources -->
        <script type="text/javascript" src="js/application/resources/QuotesResource.js"></script>

        <!-- services -->
        <script type="text/javascript" src="js/application/services/Randomizer.js"></script>
        <script type="text/javascript" src="js/application/services/QuotesDAO.js"></script>
        <script type="text/javascript" src="js/application/services/QuotesCache.js"></script>

        <!-- models -->
        <script type="text/javascript" src="js/application/models/QuotesModel.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="js/application/controllers/QuotesController.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="js/application/directives/emd-options-navigation-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/emd-show-modal-when-no-quotes-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/activable-directive.js"></script>
        <script type="text/javascript" src="js/application/directives/like-directive.js"></script>
        <!-- endbuild -->

    </body>
</html>